@charset 'utf-8';

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html{
    width: 100%;
    height: 100%;
}

.volteaotopo{/*volte ao topo*/
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 1em;
    display: none;
}
