@charset 'utf-8';

:root {
    --page-background: #1C1C1C;
    --page-text: white;
}


*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
}

body{
    font-family: Montserrat;
    width: 80%;
    margin: 16px;
    transition: 0.5s all;
    justify-content: center;
}

h1 {
    font-size: 50px;
    color: white;
}
    
h2 {
    font-size: 40px;
    font-weight: unset;
}

li{
    padding: 15px;
}

.nav-link {
    color: var(--page-text)
}
.btn :hover{
    color: 	#191970;
}
.nav-link :hover{
    color: #191970;
}

.menu{
    padding-bottom: 70px;
}

.sectionh1{
    text-align: left;
    padding: 60px 0px;
}

section {
    padding-bottom: 50px;
    padding-top: 50px;
    padding: 20px;
    color: white;
}
    
.section-vertical {
    display: flex;
}
    
section .section-block {
    flex: 1;
}
    
section .section-block-center {
    justify-content: center;
    display: flex;
}

section .section-block-center img {
    width: 30vw;
    height: 50vw;
}

ul {
    padding-left: 20px;
}
    
p, ul li {
    font-size: 20px;
    text-align: justify;
    color: white;
    line-height: 1.5;
    padding-top: 4px;
    padding-bottom: 4px;
}

span, i{
    color: white;
}

.first-p {
    font-size: 30px;
}
    
.vertical-ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
    
.vertical-ul li {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    color: #3c3c3c;
    padding-left: 12px;
    padding-top: 24px;
    padding-bottom: 24px;
}
    
.vertical-ul li i {
    font-size: 50px;
    margin-bottom: 12px;
}
    
.vertical-ul li span {
    font-size: 14px;
}

.volteaotopo{/*volte ao topo*/
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding: 1em;
    display: none;
}

footer{
    background-color: var(--page-background);
    color: var(--page-text);
    height: 20vh;	
    width: 100%; 
    text-align: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

footer p{
    font-size: 1.0em;
    font-weight: 500;
    padding: 10px;
    text-align: center;
}

#twc{
    background-color: #00aced;
    color: white;
}
#linke{
    background-color: #007bb6;
    color: white;
}

.dark {
    background-color: #121212;
    color: white;
}

@media screen and (max-width: 728px) {

    section .section-block-center img {
        width: calc(80% - 64px);
        height: auto;
    }

    h1 {
        text-align: center;
    }
        
    .list-vertical {
        flex-direction: column;
    }
    
    .section-vertical {
        flex-direction: column;
    }
    
    .first-section {
        flex-direction: column-reverse;
    }

    section .section-block-center {
        text-align: center;
    }
    body{
        width: 94%;
    }
}