@charset 'utf-8';

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html{
    width: 100%;
    height: 100%;
}

.menu{
    background-color: #1C1C1C;
}

.container{
    background-color: #1C1C1C;
}

.navbar .navbar-expand-lg .navbar-dark{
    background-color: #1C1C1C;
}

h1, li{
    font-size: 17px;  
}

li{
    padding: 15px;
}

main{
    height: 500px;
}

.volteaotopo{/*volte ao topo*/
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 1em;
    display: none;
}

footer{
    background-color: #1C1C1C;
    height: 20vh;	
    width: 100%; 
    text-align: center;
    color: white;
    padding-top: 70px;
}

footer p{
    font-size: 1.0em;
    font-weight: 500;
    padding: 10px;
}

#twc{
    background-color: #00aced;
    color: white;
}
#linke{
    background-color: #007bb6;
    color: white;
}